@import 'sass/responsive';
@import 'sass/variables';

.profile-info {

    &--desktop {
        display: none;
    }

    @include responsive-to(tablet) {
        &--mobile {
            display: none
        }

        &--desktop {
            display: block;
        }
    }

    @include responsive-to(tablet) {
        .review {
            display: inline-block;
            float: right;
            margin-right: 20px;
            vertical-align: top;

            &__star,
            &__count {
                color: $gray-secondary;
                display: inline-block;
            }

            &__count {
                margin-left: 15px;
            }
        }
    }

    .profile-list {
        padding: 0 20px;
        text-align: left;

        @include responsive-to(tablet) {
            display: inline-block;
            padding-left: 190px
        }

        .profile-name {
            color: $black-primary;
            font-size: 18px;
            font-weight: bold;
            text-align: center;

            @include responsive-to(tablet) {
                text-align: left;
            }
        }

        &__item {
            color: $gray-primary;
            font-size: 12px;
            margin: 7px 0;

            .icon {
                font-size: 18px;
            }

            .review {

                &__star {
                    color: $accent;

                    .icon {
                        font-size: 20px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
