<div class="profile-info profile-info--mobile">
    <ul class="profile-list">
        <li class="profile-list__item">
            <div class="profile-name">
                $firstName
                $lastName
            </div>
        </li>
        <li class="profile-list__item">
            <span class="icon ion-ios-telephone-outline"></span>
            $phoneNumber
        </li>
        <li class="profile-list__item">
            <span class="icon ion-ios-location-outline"></span>
            $location
        </li>
        <li class="profile-list__item">
            <div class="review">
                <div class="review__star">
                    <span class="icon ion-android-star"></span>
                    <span class="icon ion-android-star"></span>
                    <span class="icon ion-android-star"></span>
                    <span class="icon ion-android-star"></span>
                    <span class="icon ion-android-star-outline"></span>
                </div>
                <div class="review__count">6 Reviews</div>
            </div>
        </li>
        <li class="profile-list__item">
            <span class="icon ion-ios-plus"></span>
            15 Followers
        </li>
    </ul>
</div>

<div class="profile-info profile-info--desktop">
    <ul class="profile-list">
        <li class="profile-list__item">
            <div class="profile-name">
                $firstName
                $lastName
            </div>
        </li>
        <li class="profile-list__item">
            <span class="icon ion-ios-location-outline"></span>
            $location
        </li>
        <li class="profile-list__item">
            <span class="icon ion-ios-telephone-outline"></span>
            $phoneNumber
        </li>
    </ul>
    <div class="review">
        <div class="review__star">
            <span class="icon ion-android-star"></span>
            <span class="icon ion-android-star"></span>
            <span class="icon ion-android-star"></span>
            <span class="icon ion-android-star"></span>
            <span class="icon ion-android-star-outline"></span>
        </div>
        <div class="review__count">6 Reviews</div>
    </div>
</div>
