<div class="cover">
    <div class="cover__control">
        <div class="action">
            <button class="action__logout">LOG OUT</button>
        </div>
    </div>
    <div class="cover__content">
        <div class="profile">
            <button class="profile__cover-picture">
                <span class="icon ion-ios-camera"></span>
                Upload Cover Image
            </button>
            <div class="profile__photo"></div>
            <profile-info></profile-info>
        </div>
    </div>
    <navigation></navigation>
</div>
