@import 'sass/responsive';
@import 'sass/variables';

.cover {
    @include responsive-to(tablet) {
        background-color: $white-primary;
        margin: 50px auto 0;
        width: 90%;
    }

    &__control {
        padding: 15px 10px;
        text-align: right;

        .action {

            &__logout {
                color: $accent;
                font-size: 12px;
                font-weight: bold;
                margin-right: 15px;

                @include responsive-to(tablet) {
                    border: 1px solid $accent;
                    border-radius: 3px;
                    padding: 7px 20px;
                }
            }
        }
    }

    &__content {
        overflow: hidden;

        .profile {
            margin-top: 20px;
            text-align: center;

            @include responsive-to(tablet) {
                text-align: left;
            }

            &__cover-picture {
                display: none;

                @include responsive-to(tablet) {
                    background-color: none;
                    border: 1px solid $background-color;
                    border-radius: 3px;
                    color: $gray-primary;
                    display: block;
                    font-size: 16px;
                    font-weight: normal;
                    margin: 0 auto;
                    padding: 9px 20px;
                }
            }

            &__photo {
                background: url("assets/profile_image.jpg") no-repeat top center;
                box-shadow: 0 0 15px rgba(0,0,0, .2);
                height: 130px;
                margin: 0 auto 15px;
                overflow: hidden;
                width: 130px;

                @include responsive-to(tablet) {
                    display: none;
                }
            }
        }
    }
}
