@import 'sass/responsive';
@import 'sass/variables';

.content {
    background: $white-primary;
    border-color: $gray-tertiary;
    border-style: solid;
    border-width: 1px 0;
    margin: 2px 0 20px;
    min-height: 100px;

    @include responsive-to(tablet) {
        border-width: 1px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        margin: 20px auto;
        width: 90%;
    }

    &__main {
        padding: 15px 15px 50px;
    }
}
