@import 'sass/responsive';
@import 'sass/variables';

.about {

    &__header {

        .about-header {

            &__title {
                color: $gray-primary;
                display: inline-block;
                font-size: 18px;
                font-weight: normal;
                width: 85%;
            }

            &__edit {
                background-color: $background-color;
                color: $gray-secondary;
                display: inline-block;
                padding: 5px 10px;
                vertical-align: middle;

                @include responsive-to(tablet) {
                    display: none;
                }
            }
        }
    }

    .about-info {
        margin-top: 20px;

        &__item {
            color: $gray-secondary;
            font-size: 14px;
            margin: 14px 4px 0 0;

            @include responsive-to(tablet) {
                margin: 4px 4px 0 0;
            }

            .icon {
                font-size: 16px;
            }

            .about-info-action {

                &__content {

                    @include responsive-to(tablet) {
                        background-color: $background-color;
                        padding: 7px 15px 7px 5px;
                    }
                }

                &__edit {
                    color: $gray-secondary;
                    display: none;

                    @include responsive-to(tablet) {
                        background-color: $gray-tertiary;
                        display: inline-block;
                        padding: 7px 10px;
                        vertical-align: middle;
                    }
                }
            }
        }

        &__name {
            color: inherit;
            font-size: inherit;
            font-weight: bold;
        }
    }
}

.overlay {
    background: none;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        background: $white-primary;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        padding: 20px;
        position: relative;
        transition: all 3s ease-in-out;
        width: 40%;

        &__pointer {

        }

        &__content {
            overflow: auto;
        }

        .form {
            padding: 10px 0;

            .form-control .form-control__group {
                margin-bottom: 40px;
            }

            &__action {

                .form-action {

                    &__cancel,
                    &__save {
                        border-radius: 3px;
                        font-size: 12px;
                        font-weight: bold;
                        margin-right: 20px;
                        padding: 9px 26px;
                        text-decoration: none;
                    }

                    &__cancel {
                        border: 1px solid $accent;
                        color: $accent;
                    }

                    &__save {
                        background: $accent;
                        color: $white-primary;
                    }
                }
            }
        }
    }
}

#popupName {
    top: 310px;
    left: 190px;
}

#popupWebsite {
    top: 380px;
    left: 220px;
}

#popupPhone {
    top: 420px;
    left: 230px;
}

#popupLocation {
    top: 450px;
    left: 240px;
}
