<div class="about">
    <div class="about__header">
        <h2 class="about-header__title">About</h2>
        <div class="about-header__edit">
            <button
                class="icon ion-edit"
                onclick="navigateTo(event, /about-edit/, true);"
                />
        </div>
    </div>
    <ul class="about-info">
        <li class="about-info__item profile-info__name">
            <div class="about-info-action">
                <button class="about-info-action__content">
                    $firstName
                    $lastName
                </button>
                <a class="about-info-action__edit" href="#popupName">
                    <span class="icon ion-edit"></span>
                </a>
            </div>
        </li>
        <li class="about-info__item">
            <div class="about-info-action">
                <button class="about-info-action__content">
                    <span class="icon ion-earth"></span>
                    $website
                </button>
                <a class="about-info-action__edit" href="#popupWebsite">
                    <span class="icon ion-edit"></span>
                </a>
            </div>
        </li>
        <li class="about-info__item">
            <div class="about-info-action">
                <button class="about-info-action__content">
                    <span class="icon ion-ios-telephone-outline"></span>
                    $phoneNumber
                </button>
                <a class="about-info-action__edit" href="#popupPhone">
                    <span class="icon ion-edit"></span>
                </a>
            </div>
        </li>
        <li class="about-info__item">
            <div class="about-info-action">
                <button class="about-info-action__content">
                    <span class="icon ion-ios-home-outline"></span>
                    $location
                </button>
                <a class="about-info-action__edit" href="#popupLocation">
                    <span class="icon ion-edit"></span>
                </a>
            </div>
        </li>
    </ul>
</div>

<div id="popupName" class="overlay">
    <div class="popup">
        <div class="popup__pointer">
        </div>
        <div class="popup__content">
            <form class="form">
                <div class="form-control">
                    <div class="form-control__group">
                        <input
                            class="form-control__input"
                            id="firstName"
                            type="text"
                            value="$firstName" required>
                        <span class="form-control__highlight"></span>
                        <span class="form-control__bar"></span>
                        <label class="form-control__label">First Name</label>
                    </div>
                </div>
                <div class="form-control">
                    <div class="form-control__group">
                        <input
                            class="form-control__input"
                            id="lastName"
                            type="text"
                            value="$lastName" required>
                        <span class="form-control__highlight"></span>
                        <span class="form-control__bar"></span>
                        <label class="form-control__label">Last Name</label>
                    </div>
                </div>
                <div class="form__action">
                    <a class="form-action__save"
                       onclick="submitForm(firstName, lastName)"
                       href="#">
                        SAVE
                    </a>
                    <a class="form-action__cancel" href="#">
                        CANCEL
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popupWebsite" class="overlay">
    <div class="popup">
        <div class="popup__pointer">
        </div>
        <div class="popup__content">
            <form class="form">
                <div class="form-control">
                    <div class="form-control__group">
                        <input
                            class="form-control__input"
                            id="website"
                            type="text"
                            value="$website" required>
                        <span class="form-control__highlight"></span>
                        <span class="form-control__bar"></span>
                        <label class="form-control__label">Website</label>
                    </div>
                </div>
                <div class="form__action">
                    <a class="form-action__save"
                       href="#"
                       onclick="submitForm(website)">
                        SAVE
                    </a>
                    <a class="form-action__cancel" href="#">
                        CANCEL
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popupPhone" class="overlay">
    <div class="popup">
        <div class="popup__pointer">
        </div>
        <div class="popup__content">
            <form class="form">
                <div class="form-control">
                    <div class="form-control__group">
                        <input
                            class="form-control__input"
                            id="phoneNumber"
                            type="text"
                            value="$phoneNumber" required>
                        <span class="form-control__highlight"></span>
                        <span class="form-control__bar"></span>
                        <label class="form-control__label">Phone Number</label>
                    </div>
                </div>
                <div class="form__action">
                    <a class="form-action__save"
                       href="#"
                       onclick="submitForm(phoneNumber)">
                        SAVE
                    </a>
                    <a class="form-action__cancel" href="#">
                        CANCEL
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popupLocation" class="overlay">
    <div class="popup">
        <div class="popup__pointer">
        </div>
        <div class="popup__content">
            <form class="form">
                <div class="form-control">
                    <div class="form-control__group">
                        <input
                            class="form-control__input"
                            id="locationInput"
                            type="text"
                            value="$location" required>
                        <span class="form-control__highlight"></span>
                        <span class="form-control__bar"></span>
                        <label class="form-control__label">Location</label>
                    </div>
                </div>
                <div class="form__action">
                    <a class="form-action__save"
                       href="#"
                       onclick="submitForm(locationInput)">
                        SAVE
                    </a>
                    <a class="form-action__cancel" href="#">
                        CANCEL
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
