@import 'sass/responsive';
@import 'sass/variables';

.navigation {
    background: $white-primary;
    border-color: $gray-tertiary;
    border-width: 1px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: $gray-secondary;
    font-size: 14px;
    margin: 10px 0;
    overflow-x: auto;
    padding: 18px 0 0;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    @include responsive-to(tablet) {
        padding-left: 180px;
        position: relative;
        overflow: visible;
        width: auto;

        &__photo {
            background: url("assets/profile_image.jpg") no-repeat top center;
            bottom: 15px;
            box-shadow: 0 0 15px rgba(0,0,0, .2);
            height: 150px;
            left: 15px;
            position: absolute;
            overflow: hidden;
            width: 150px;
        }
    }

    .navigation-menu {

        &__item {
            cursor: hand;
            display: inline-block;
            font-size: 14px;
            margin: 0 5px 0 13px;
            outline: 0;

            &--active {
                border-bottom: 2px solid $accent;
                padding-bottom: 10px;
            }
        }
    }
}
