<nav class="navigation">
    <div class="navigation__photo"></div>
    <ul class="navigation-menu">
        <li class="navigation-menu__item navigation-menu__item--active">
            <button onclick="navigateTo(event, /about/)">ABOUT</button>
        </li>
        <li class="navigation-menu__item">
            <button onclick="navigateTo(event, /settings/)">SETTINGS</button>
        </li>
        <li class="navigation-menu__item">
            <button onclick="navigateTo(event, /option/)">OPTION1</button>
        </li>
        <li class="navigation-menu__item">
            <button onclick="navigateTo(event, /option/)">OPTION2</button>
        </li>
        <li class="navigation-menu__item">
            <button onclick="navigateTo(event, /option/)">OPTION3</button>
        </li>
    </ul>
</nav>
