@import 'sass/responsive';
@import 'sass/variables';

* {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    color: inherit;
    font-size: inherit;
    margin-right: inherit;
    vertical-align: top;
}

button {
    background-color: inherit;
    border: 0;
    font-size: inherit;
    color: inherit;
    margin: 0;
    outline: inherit;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
