<div class="about-edit">
    <div class="about-edit-header">
        <h2 class="about-edit-header__title">About</h2>
        <div class="about-edit-header__action">
            <button
                class="about-edit-action__cancel"
                onclick="navigateTo(event, /about/, true)">
                CANCEL
            </button>
            <button
                class="about-edit-action__save"
                onclick="navigateTo(event, /about/, true)">
                SAVE
            </button>
        </div>
    </div>
    <form class="about-edit__update">
        <div class="form-control">
            <div class="form-control__group">
                <input
                    class="form-control__input"
                    type="text"
                    value="$firstName" required>
                <span class="form-control__highlight"></span>
                <span class="form-control__bar"></span>
                <label class="form-control__label">First Name</label>
            </div>
        </div>
        <div class="form-control">
            <div class="form-control__group">
                <input class="form-control__input" type="text"
                       value="$lastName" required>
                <span class="form-control__highlight"></span>
                <span class="form-control__bar"></span>
                <label class="form-control__label">Last Name</label>
            </div>
        </div>
        <div class="form-control">
            <div class="form-control__group">
                <input class="form-control__input" type="text"
                       value="$website" required>
                <span class="form-control__highlight"></span>
                <span class="form-control__bar"></span>
                <label class="form-control__label">Website</label>
            </div>
        </div>
        <div class="form-control">
            <div class="form-control__group">
                <input class="form-control__input" type="text"
                       value="$phoneNumber" required>
                <span class="form-control__highlight"></span>
                <span class="form-control__bar"></span>
                <label class="form-control__label">Phone Number</label>
            </div>
        </div>
        <div class="form-control">
            <div class="form-control__group">
                <input class="form-control__input" type="text"
                       value="$location" required>
                <span class="form-control__highlight"></span>
                <span class="form-control__bar"></span>
                <label class="form-control__label">City, State & ZIP</label>
            </div>
        </div>
    </form>
</div>
