@import 'sass/responsive';
@import 'sass/variables';

.about-edit {

    .about-edit-header {

        &__title {
            color: $gray-primary;
            display: inline-block;
            font-size: 18px;
            font-weight: normal;
            width: 55%;
        }

        &__action {
            display: inline-block;

            .about-edit-action {

                &__cancel,
                &__save {
                    color: $accent;
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }
    }

    &__update {
        margin-top: 45px;
    }
}

.form-control {

    &__group {
        margin-bottom: 45px;
        position: relative;
    }

    &__input {
        border: none;
        border-bottom: 1px solid $gray-tertiary;
        display: block;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &__label {
        color: $gray-secondary;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
    }

    &__bar {
        display: block;
        position: relative;
        width: 100%;
    }

    &__bar:before,
    &__bar:after   {
        background: $accent;
        bottom:1px;
        content:'';
        height:2px;
        position:absolute;
        transition:0.2s ease all;
        width:0;
    }

    &__bar:before {
        left: 50%;
    }
    &__bar:after {
        right: 50%;
    }

    &__input:focus ~ .form-control__bar:before,
    &__input:focus ~ .form-control__bar:after {
        width:50%;
    }

    &__highlight {
        height:60%;
        left:0;
        pointer-events:none;
        position:absolute;
        top:25%;
        width:100px;
        opacity:0.5;
    }

    &__input:focus ~ .form-control__highlight {
        animation: highlightInput 0.3s ease;
    }

    @keyframes highlightInput {
        from  {
            background: $accent;
        }
        to {
            background: transparent;
            width: 0;
        }
    }

    &__input:focus ~ .form-control__label,
    &__input:valid ~ .form-control__label {
        color: $accent;
        font-size: 10px;
        text-transform: uppercase;
        top: -10px;
    }

    &__input:valid ~ .form-control__label  {
        color: $gray-secondary;
    }
}
